<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .products {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        /* input number  */
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
    </style>
</head>
<body>
<div style="display:flex;justify-content: space-between; align-items: center">
    <h1 th:text="${'Welcome to ' + session.userLogin.fullName}"></h1>
    <i class="fa-solid fa-cart-shopping"></i>
</div>
<div>
    <div class="card" style="width: 18rem;" >

    </div>
    <form th:action="@{/cart/add}" method="post" th:each="book : ${books}">
        <img class="card-img-top" th:src="@{|/uploads/${book.image}|}" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-text" th:text="${book.name}"></h3>
            <p th:text="${book.price}"></p>
            <p th:text="${book.description}"></p>
            <input type="number" value="1" th:onkeyup="|handleChange(event,${book.stock})|">
            <button type="submit">Add to Cart</button>
        </div>

    </form>
</div>
<script>

    function handleChange(event, stock) {
        const quantity = event.target.value;
        if (quantity > stock) {
            event.target.value = stock;
        } else if (quantity <= 0) {
            event.target.value = 1;
        } else {
            event.target.value = quantity;
        }
    }

</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>